<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzdkx.yunke.mapper.TCustomerMapper">
    <resultMap id="BaseResultMap" type="com.fzdkx.yunke.bean.dao.TCustomer">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="clue_id" jdbcType="INTEGER" property="clueId"/>
        <result column="product" jdbcType="INTEGER" property="product"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="next_contact_time" jdbcType="TIMESTAMP" property="nextContactTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="edit_time" jdbcType="TIMESTAMP" property="editTime"/>
        <result column="edit_by" jdbcType="INTEGER" property="editBy"/>
        <result column="intention_state" jdbcType="INTEGER" property="intentionState"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
    </resultMap>

    <resultMap id="CustomerVOMap" type="com.fzdkx.yunke.bean.vo.CustomerVO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="clue_id" jdbcType="INTEGER" property="clueId"/>
        <result column="product" jdbcType="INTEGER" property="product"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="next_contact_time" jdbcType="TIMESTAMP" property="nextContactTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="edit_time" jdbcType="TIMESTAMP" property="editTime"/>
        <result column="edit_by" jdbcType="INTEGER" property="editBy"/>
        <result column="intention_state" jdbcType="INTEGER" property="intentionState"/>
        <result column="productName" property="productName"/>
        <result property="intentionStateName" column="intentionStateName"/>
        <result column="state" jdbcType="INTEGER" property="state"/>

        <association property="clueVO" javaType="com.fzdkx.yunke.bean.vo.ClueVO">
            <id property="id" column="cid"/>
            <result property="ownerName" column="ownerName"/>
            <result property="appellationStr" column="appellationStr"/>
            <result property="needLoanStr" column="needLoanStr"/>
            <result property="fullName" column="fullName"/>
            <result property="phone" column="phone"/>
            <result property="weixin" column="weixin"/>
            <result property="qq" column="qq"/>
            <result property="email" column="email"/>
            <result property="age" column="age"/>
            <result property="job" column="job"/>
            <result property="yearIncome" column="yearIncome"/>
            <result property="address" column="address"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id, clue_id, product, description, next_contact_time, create_time, create_by, edit_time,
            intention_state , edit_by , state
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_customer
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectList" resultMap="CustomerVOMap">
        SELECT tc1.*,
               tc.id            cid,
               tp.`name`        productName,
               temp.ownerName,
               temp.appellationStr,
               temp.needLoanStr,
               temp.full_name   fullName,
               temp.phone,
               temp.weixin,
               temp.qq,
               temp.email,
               temp.age,
               temp.job,
               temp.year_income yearIncome,
               temp.address,
               temp.intentionStateName
        FROM t_customer tc1
                 LEFT JOIN (SELECT tc.*,
                                   tu.NAME         ownerName,
                                   tdv1.type_value appellationStr,
                                   tdv2.type_value needLoanStr,
                                   tdv3.type_value intentionStateName
                            FROM t_clue tc
                                     LEFT JOIN t_user tu ON tc.owner_id = tu.id
                                     LEFT JOIN t_dic_value tdv1 ON tc.appellation = tdv1.id
                                     LEFT JOIN t_dic_value tdv2 ON tc.need_loan = tdv2.id
                                     LEFT JOIN t_dic_value tdv3 ON tc.intention_state = tdv3.id) temp
                           ON tc1.clue_id = temp.id
                 LEFT JOIN t_product tp ON tc1.product = tp.id
                 LEFT JOIN t_clue tc ON tc.id = tc1.clue_id
    </select>
    <select id="selectExcel" resultType="com.fzdkx.yunke.bean.vo.CustomerExcel">
        SELECT
        tc1.next_contact_time,
        tc1.description,
        tc1.state,
        tp.`name` productName,
        temp.ownerName,
        temp.appellationName,
        temp.needLoanName,
        temp.full_name,
        temp.phone,
        temp.weixin,
        temp.qq,
        temp.email,
        temp.age,
        temp.job,
        temp.year_income,
        temp.address,
        temp.sourceName,
        temp.activityName
        FROM
        t_customer tc1
        LEFT JOIN (
        SELECT
        tc.*,
        tu.NAME ownerName,
        tdv1.type_value appellationName,
        tdv2.type_value needLoanName,
        tdv3.type_value sourceName,
        ta.NAME activityName
        FROM
        t_clue tc
        LEFT JOIN t_user tu ON tc.owner_id = tu.id
        LEFT JOIN t_dic_value tdv1 ON tc.appellation = tdv1.id
        LEFT JOIN t_dic_value tdv2 ON tc.need_loan = tdv2.id
        LEFT JOIN t_dic_value tdv3 ON tc.source = tdv3.id
        LEFT JOIN t_activity ta ON ta.id = tc.activity_id
        ) temp ON tc1.clue_id = temp.id
        LEFT JOIN t_product tp ON tc1.product = tp.id
        <if test="ids != null and ids.size() != 0 ">
            where tc1.id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_customer
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fzdkx.yunke.bean.dao.TCustomer"
            useGeneratedKeys="true">
        insert into t_customer (clue_id, product, description,
                                next_contact_time, create_time, create_by,
                                edit_time, edit_by, intention_state, state)
        values (#{clueId,jdbcType=INTEGER}, #{product,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR},
                #{nextContactTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER},
                #{editTime,jdbcType=TIMESTAMP}, #{editBy,jdbcType=INTEGER}, #{intentionState,jdbcType=INTEGER},
                #{state,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fzdkx.yunke.bean.dao.TCustomer"
            useGeneratedKeys="true">
        insert into t_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clueId != null">
                clue_id,
            </if>
            <if test="product != null">
                product,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="nextContactTime != null">
                next_contact_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="editTime != null">
                edit_time,
            </if>
            <if test="editBy != null">
                edit_by,
            </if>
            <if test="intentionState != null">
                intention_state,
            </if>
            <if test="state != null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clueId != null">
                #{clueId,jdbcType=INTEGER},
            </if>
            <if test="product != null">
                #{product,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="nextContactTime != null">
                #{nextContactTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="editTime != null">
                #{editTime,jdbcType=TIMESTAMP},
            </if>
            <if test="editBy != null">
                #{editBy,jdbcType=INTEGER},
            </if>
            <if test="intentionState != null">
                #{intentionState,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fzdkx.yunke.bean.dao.TCustomer">
        update t_customer
        <set>
            <if test="clueId != null">
                clue_id = #{clueId,jdbcType=INTEGER},
            </if>
            <if test="product != null">
                product = #{product,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="nextContactTime != null">
                next_contact_time = #{nextContactTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="editTime != null">
                edit_time = #{editTime,jdbcType=TIMESTAMP},
            </if>
            <if test="editBy != null">
                edit_by = #{editBy,jdbcType=INTEGER},
            </if>
            <if test="intentionState != null">
                intention_state = #{intentionState,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fzdkx.yunke.bean.dao.TCustomer">
        update t_customer
        set clue_id           = #{clueId,jdbcType=INTEGER},
            product           = #{product,jdbcType=INTEGER},
            description       = #{description,jdbcType=VARCHAR},
            next_contact_time = #{nextContactTime,jdbcType=TIMESTAMP},
            create_time       = #{createTime,jdbcType=TIMESTAMP},
            create_by         = #{createBy,jdbcType=INTEGER},
            edit_time         = #{editTime,jdbcType=TIMESTAMP},
            edit_by           = #{editBy,jdbcType=INTEGER},
            intention_state   = #{intentionState,jdbcType=INTEGER},
            state             = #{state,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>